[submodule "_external/asio"]
	path = _external/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "_external/char8"]
	path = _external/char8
	url = https://github.com/ousttrue/char8.git
[submodule "_external/wcwidth-cjk"]
	path = _external/wcwidth-cjk
	url = https://github.com/fumiyas/wcwidth-cjk.git
